<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>Contact me on email :
        </p>
        <a class="email-a" href="KimyFuchs@hotmail.com">
            <p class="email">KimyFuchs@hotmail.com</p>
        </a>
        <br>
        <p>also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/KarimFox" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://dribbble.com/" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://youtu.be/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://youtu.be/" target="_blank"><i class="fab fa-steam"></i></a></li>
                <li style="margin-bottom: 2vh;">OnlyFans :3<a href="https://onlyfans.com/kimmyfuchs" target="_blank"><img  src="https://static2.onlyfans.com/static/prod/f/202406100913-eb7818e765/img/il-old-logo.png" style="width: 3vw; border-radius: 40px;"></a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>