
h2.tab-title.tab-warning,
h2.tab-title.tab-success,
h2.tab-title.tab-primary,
h2.tab-title.tab-default {
  height: 0.01vh;
  color: #fff;
  background-position: bottom center;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  text-transform: capitalize;
  font-family: "Manrope" !important;
  font-weight: 800 !important;
}

h2.tab-title.tab-default {
  background: linear-gradient(10deg, #f7ec9c, #ff8651);
}

h2.tab-title.tab-success {
  background: linear-gradient(10deg, #02ce85, #02ceab);
}

h2.tab-title.tab-primary {
  background: linear-gradient(
    60deg,
    hsl(202deg 100% 75%),
    hsl(205deg 100% 64%),
    hsl(230deg 100% 75%),
    hsl(270deg 100% 72%)
  );
}

h2.tab-title.tab-warning {
  background: linear-gradient(70deg, #c51574, #97389b);
}

.tabs input {
  opacity: 0;
  padding: 0;
}

label.tab.tab-primary {
  border-radius: 6pt 0 0 6pt;
}

label.tab.tab-warning {
  border-radius: 0 6pt 6pt 0;
}

#tab-1:checked + label {
  color: deepskyblue;
}

#tab-3:checked + label {
  color: #ffadfa;
}

#tab-4:checked + label {
  color: #ffadfa;
}

#tab-1:checked ~ .glider {
  left: 1.6%;
  top: 10%;
}

#tab-2:checked ~ .glider {
  left: 14.85%;
  top: 10%;
}

#tab-3:checked ~ .glider {
  background: linear-gradient(
    90deg,
    #faffcc 0%,
    #f5eea3 10%,
    #ffe48a 40%,
    #ffb54d 65%,
    #ff974d 85%,
    #ff8052 100%
  );
  left: 29.15%;
  top: 10%;
}

#tab-4:checked ~ .glider {
  background: linear-gradient(90deg, #b9326f 0%, #ff5ddc 100%);
  left: 44% !important;
  top: 10%;
}

.glider {
  width: 15%;
  height: 4.5px;
  border-radius: 0 0 1px 1px;
  box-shadow: 0px 0px 8px 0px hsl(262deg 100% 70% / 70%);
  background: linear-gradient(
    113deg,
    hsl(260deg 100% 64%) 0%,
    hsl(190deg 100% 55%) 100%
  );
  transition: all 0.3s;
  top: 36px;
  z-index: 2;
}