<div class="row wrapper">
  <div class="background"></div>
  <div class="pulsate">
    <div #elem class="parallax"></div>
  </div>
  <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left"></div>
  <div class="column-one">
    <div class="card border-primary mb-3" style="max-width: 75vw; max-height: 80vh">
      <div class="card-header">
        <img class="card-image-overlay img"
          src="https://i.ibb.co/WvzY44w/IMG-20240217-122207.jpg"
          alt="IMG de una vixen"
          style=" width: 14vw;height: 25vh; padding-left: 3rem; padding-right: 2.5rem" />
      </div>

      <div class="card-body">
        <h2 class="card-title">💮Karim Urbalejo</h2>
        <ul style="list-style: none">
          <li>
            <p class="card-text">20 Años de edad,</p>
          </li>
          <li>
            <p class="card-text">Open for business🈺,</p>
          </li>
          <li>
            <p class="card-text">Nationality: Mexicano,🟥⬜🟩</p>
          </li>
          <li>
            <p class="card-text">Residence: Mexico,🟥⬜🟩</p>
          </li>
          <li>
            <p class="card-text">Gender: GF ☯,</p>
          </li>
          <li>
            <p class="card-text">Zodiac: Cancer ♋,</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column-two">
      <div class="card border-secondary mb-3" style="max-width: 75vw">
        <div class="card-header">About Me</div>
        <div class="card-body">
          <h4 class="card-title">Quiet, Bond, Creative</h4>
          <p class="card-text">
            something something something, coffee. wolves and foxes.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="card border-primary mb-3" style="max-width: 48vw; height: 43.8vh">
          <div class="container">
            <div class="card tabs card-header">
              <input id="tab-1" type="radio" class="tab tab-selector" checked="checked" name="tab" />
              <label for="tab-1" class="tab tab-primary">Skills</label>
              <input id="tab-2" type="radio" class="tab tab-selector" name="tab" />
              <label for="tab-2" class="tab tab-success">Repositories</label>
              <input id="tab-3" type="radio" class="tab tab-selector" name="tab" />
              <label for="tab-3" class="tab tab-default">Hobbies</label>
              <input id="tab-4" type="radio" class="tab tab-selector" name="tab" />
              <label for="tab-4" class="tab tab-warning">News about me</label>
              <div class="tabsShadow"></div>
              <div class="glider"></div>
              <section class="content">
                <div class="card-body">
                  <div class="item" id="content-1">
                    <h2 class="tab-title tab-primary">
                      Fluent: Spanish - English
                    </h2>




                    <div *ngIf="skillsData" class="repositories-container">
                      <div *ngFor="let skill of skillsData" class="repository-card">
                        <div style="
                        display: flex;
                        align-items: center;
                      ">
                          <img src="{{skill.icon}}" style="width: 2vw;">
                          <p>{{skill.name}}</p>
                          <div class="progress" style="width: 20vw">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.level}}">
                            </div>
                          </div>{{skill.level}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item" id="content-2">
                    <div *ngIf="githubData" class="repositories-container">
                      <div *ngFor="let repo of githubData" class="repository-card">
                        <div class="card border-warning mb-3" style="
                            width: 15vw;
                            height: fit-content;
                            margin-top: 1vh;
                            margin-bottom: 1vh;
                          ">
                          <img style="width: 2vw; margin-left: 6vw;" [style.background-color]="
                              randomColors[repo.id % randomColors.length]
                            " [src]="
                              'https://raw.githubusercontent.com/simple-icons/simple-icons/dc7e81361496998806f79b6e93a52ee8f7b9768e/icons/' +
                              repo.language
                                .replace('#', 'sharp')
                                .replace('CSS', 'css3')
                                .toLowerCase() +
                              '.svg'
                            " />

                          <h3>{{ repo.name }}</h3>
                          <p>
                            <strong>URL:</strong>
                            <a href="{{ repo.html_url }}" target="_blank">{{
                              repo.html_url
                              }}</a>
                          </p>
                          <p>
                            <strong>Descripción:</strong>
                            {{ repo.description }} <strong>Language:</strong>
                            {{ repo.language }}
                          </p>
                        </div>
                      </div>

                    </div>
                    <h3 style=" margin-left: 15vw;">⬅Arrows to navigate list ➡</h3>
                  </div>

                  <div class="item" id="content-3">
                    <h2 class="tab-title tab-default" style="justify-self: center">
                      Hobbies:
                    </h2>
                    <pre>
                      3D modeling,
                      Drawing,
                      Playing competitive videogames,
                      roller-skating,
                      singing.
                    </pre>
                  </div>
                  <div class="item" id="content-4">
                    <h2 class="tab-title tab-warning">Updates :3</h2>
                    <p>Currently studying Japanese</p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>