
.container .card {
  min-height: 140px;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  width: 75vw;
}

.tabs {
  display: block;
}

.tabs input {

  opacity: 0;
}

.tabs input + label:hover {
  color: #777;
}

.tabs .tabsShadow {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  z-index: 0;
  top: 0;
  pointer-events: none;
}

.content .item {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  width: 40vw;
  position:absolute;
  /* Ajusta la posición según sea necesario */
}

#tab-1:checked ~ .glider {
  left: 0px;
}

#tab-2:checked + label {
  color: #51a14c;
}

#tab-2:checked ~ .glider {
  background: linear-gradient(90deg, #51a14c 0%, #10c33e 100%);
  box-shadow: 0px 0px 8px 0px rgba(47, 187, 12, 0.62);
}

#tab-3:checked + label {
  color: #525252;
}

#tab-1:checked ~ section #content-1,
#tab-2:checked ~ section #content-2,
#tab-3:checked ~ section #content-3,
#tab-4:checked ~ section #content-4 {
  opacity: 1;
  visibility: visible;
}

.tabs input + label {
  width: 9.65vw;
  height: 1.8vh;
  transition: all 0.3s;
  border: groove;
  border-color: #575eff;
  color: #e7e9f5;
  display: inline-flex;
  -webkit-box-pack: center;

  vertical-align: top;
  background: rgba(103, 19, 103, 0.558);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15pt;
  cursor: pointer;
}

.content {
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  z-index: 2;
}



.content p {
  letter-spacing: 0.75px;
  font-size: 14pt;
  font-style: normal;
  color: #f0f2fc;
  font-family: "freight-display-pro";
  font-weight: 300 !important;
}


span.numit {
  font-size: 12pt;
  font-family: "muli";
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px #e7e9f5;
  color: #0e101a;
  margin-right: 2px;
  margin-left: -2px;
  padding: 0;
  color: aliceblue;
  text-shadow: 0.5pt 0.5pt 0.5pt #2d3748;
}
























.repositories-container {
  display: flex;
  width: 45vw;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Propiedad para scroll suave en iOS */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.repositories-container::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome y Safari */
}

.repository-card {
  flex: 0 0 auto;
  width: 300px; 
  margin-right: 10px; 
}

































.parallax {
  position: absolute;
  width: 100%;
  height: 100vh;

  background-image: url("../../assets/images/foxy.gif");
  
  background-size: 40vh auto;

  animation: shake-lr 17s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;

  background-repeat: no-repeat;

  background-position: 85% 30%;

}



.shadow {
  position: absolute;

}

@keyframes scale-in-center {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}
.pulsate {
  position: absolute;
  width: 100%;
  height: 100vh;
  animation: heartbeat 8s ease infinite both;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake-lr {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 100% 100%;
  }
  10% {
    transform: rotate(1deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-0deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  90% {
    transform: rotate(1deg);
  }
}

.row {
  display: flex;
}

.column-one {
  flex: 40%;
  padding: 15vh 0 0 clamp(50px, 8%, 200px);
  /* trbl */
}
.column-two {
  flex: 50%;
  padding: 15vh 20vw 0 50px;
}

.column-one *,
.column-two * {
  position: relative;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
}

p {
  /* --vh: 4.19px;
    --vw: 16px; */
  font-size: 1rem;
  /* font-weight: 400; */
  line-height: 1.3;
  box-sizing: border-box;
  /* font-weight: 700; */
}
.pre-name {
  margin: 0;
  opacity: 0.7;
  font-size: 1rem;
}
.p-name {
  font-size: 4rem;
  margin: 0.2em 0 0.5em 0;
  font-weight: 700;
  color: #dddddd;
}

.p-name2 {
  font-size: 4rem;
  margin-left: 3px;
  /* margin: 0.2em 0 0.5em 0; */
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  background: linear-gradient(-45deg, #02dbeb, #a10ff6, #ffc70d, #fb3232);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 3s ease-in-out infinite;
  -moz-animation: animated_text 3s ease-in-out infinite;
  -webkit-animation: animated_text 3s ease-in-out infinite;
}

a:link {
  color: #6b96c3;
  font-weight: 700;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #6b96c3;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

























